<div class="jumbotron text-center">
    <div class="container">
        <form id="moreInfoForm" action="" method="post">
            <h4>{{headerInfo}}</h4>
            <fieldset style="float: left">
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Testing green tweets <a href="https://twitter.com/hashtag/green43hack?src=hash">#green43hack</a></p>&mdash; {{userId}} (@{{userId}}) <a href="https://twitter.com/GreenUser1/status/{{tweetId}}">{{tweetId}}</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </fieldset>
            <fieldset style="float: left">
                <h4>Tell us more!</h4>
            </fieldset>
            <fieldset style="float: left">
                <textarea class="form-control" rows="5" tabindex="2"></textarea>
            </fieldset>
            <fieldset style="float: left">
                <button name="submit" type="submit" id="tweetSubmit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
</div>